.apresentacao{
    font-family: var(--font-apresentacao);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/pexels-wendelin-jacober-1460230.jpg);    
}

.apresentacao__container{
    color: var(--branco);
    display: flex;   
}

.apresentacao__nome{
    font-family: var(--font-nome);
    border-right: 2px solid var(--laranja-claro);
    white-space: nowrap;
    overflow: hidden;
    animation: piscarCursor 500ms infinite normal, digitando 4s steps(50) 1s normal;
    font-weight: 400;
}



@keyframes piscarCursor {

    from{
        border-right-color: #F2921D;
    }
    to{
        border-right-color: transparent;
    }
}

.apresentacao__ola{
    font-weight: 600;
}

.apresentacao__cargo{
    font-weight: 400;
}


