.projetos{
    background-image: url(../img/pexels-pixabay-509675-projetos.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projetos__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projetos__caixa:first-child{
    background: url(../img/calculadora.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projetos__caixa{
    background-color: var(--preto);
    width: 20rem;
    height: 15rem;
    border: .3rem solid var(--bege);
    border-radius: 3rem;
    position: relative;
    cursor: pointer;
}

.projetos__faixa{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(100, 100, 100, 0.30);
    width: 100%;
    opacity: 1;
    transition: opacity 1s;
    padding-top: 0.5rem;
    height: 2rem;
    text-align: center;
}



.detalhe__texto{
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    color: var(--cinza-escuro);
}


