.sobreMim{
    font-family: var(--font-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/pexels-visit-greenland-360912.jpg);    
}

.sobreMim__foto{
    width: 30%;
    margin-left: 2rem;
}

.sobreMim__descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.descricao__titulo{
    color: var(--cinza-claro);
    font-weight: 900
}

.descricao__texto{
    color: var(--cinza-claro);
    font-weight: 300;
    text-align: justify;
}

