:root{
    --cinza-claro:#D7D9C7;
    --bege:#D8D9B4;
    --cinza:#8C8A70;
    --branco:#F2F2F2;
    --preto:#262322;
    --cinza-escuro: #403937;

    --font-principal:'Lexend Deca', sans-serif;
    --font-apresentacao:'Caveat', cursive;
    --font-nome:'Courgette', cursive;
}