@import url(./_variaveis.css);
@import url(./_cabecalho.css);
@import url(./_responsivo.css);
@import url(./_apresentacao.css);
@import url(./_sobreMim.css);
@import url(./_projetos.css);
@import url(./_habilidades.css);
@import url(./_rodape.css);

body{
    background-color: var(--preto);
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: var(--font-principal);
}

a{
    text-decoration: none;
}

.divisao{
    height: 20rem;
    background-image: url(../img/rodape.png);
    background-size: contain;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divisao__texto{
    color: var(--branco);
    font-size: 3rem;
    text-shadow: 5px 5px 10px var(--laranja);
}

.parallax{
    /* height: 100vh !important; */
    /* width: 100% ; */
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.botao{
    display: flex;
    align-items: center;
    height: 3rem;
    border-radius: 5rem;
    color: var(--bege);
    font-weight: 500;
    font-family: var(--font-principal);
    background-color: var(--cinza);
    transition: 1s;
    padding-right: 1rem;
    justify-content: space-between;
    /* align-items: center; */
}
.botao__logo{
    width: 3rem;
    background-color: var(--branco);
    border-radius: 50%;
    border: 1px solid var(--laranja);
}
.botao__texto{
    /* opacity: 0; */
    /* transition: opacity 0.7s; */
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    
}




@keyframes animacaoTextoBotao {
    from{
        width: 0;
        opacity: 0;
    }

    to{
        width: 6rem;
        opacity: 1;
    }
}

